*{
    margin:0;
    padding:0;
}

#mainbody{
    background-image: url(gravel\ copy.png);
    background-color: #ffffff;
    height: auto;
    padding: 0px;
}

p {
    font-size: 16px;
}

#header {

background-color: #ffffff;

}
/* Name */
h1 {
    display: block;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0px;
    margin: 0;
    font-size: 24px;

}

/* About Me, Contact, Portfolio */

h2{
    display: block;
    color: #4aaaa5;
    border-bottom: 1px solid #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 24px;
    padding: 20px;
    padding-bottom: 10px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Nav Links */
.nav-link {
    display: inline;
    padding: 0 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Photo */

#alina {
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    float: left;
    height: 250px;
    width: 300px;
    font-size: 20px;
    transform: rotate(90deg);
}


.main {
    background-color: #ffffff;
}

p {
    margin: 20px;
}

footer {
    background-color: #666666;
    color: white;
    border-top: 6px solid #4aaaa5;
    text-align: center;
}
.form-group {
    width: 100%;
}

.btn-primary {
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #4aaaa5;
}

.hangman , .rps , .trivia , .widget, .rpg {
    width: 200px;
    height: 200px;
    padding: 10px;
}

h3 {
    display: block;
    position: relative;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 14px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 0px;
    margin: 0;
    font-size: 14px;

}